<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ uri_prefix }}/assets/favicon.ico">
    <link href="{{ uri_prefix }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ uri_prefix }}/assets/css/bootstrap-icons.min.css" rel="stylesheet">
    <style>
      .container {
        max-width: 90% !important;
      }
    </style>
    <script src="{{ uri_prefix }}/assets/js/jquery-3.7.1.min.js"></script>
    <script src="{{ uri_prefix }}/assets/js/keycloak.min.js"></script>
    <script>
      var keycloak = new Keycloak({
        url:      '{{ keycloak.url }}',
        realm:    '{{ keycloak.realm }}',
        clientId: '{{ keycloak.ui_client }}'
      });

      try {
        const authenticated = keycloak.init({ onLoad: 'login-required'});
        console.log(`User is ${authenticated ? 'authenticated' : 'not authenticated'}`);
      } catch (error) {
        console.error('Failed to initialize adapter:', error);
      }
      
      keycloak.onAuthSuccess = () => {
        $('#content').css('display', 'block');
        $('#user-name').text(keycloak.tokenParsed.name);
        $('#logout').click(() => keycloak.logout());
      }
    </script>
    <script>
      /////////
      /// Row edit and save button actions
      /////////
      $(() => {
        $('.row-edit, .row-save').click((elem) => {
          /// Check action - is it edditing start or saving after eddit
          const button = $(elem.delegateTarget);
          const button_edit_action = button.hasClass('row-edit');
          const button_save_action = button.hasClass('row-save');
          const button_icon = button.children()
          
          /// Toggle eddit and save statuses
          button.toggleClass('row-edit row-save');
          button.toggleClass('btn-outline-primary btn-outline-success');
          button_icon.toggleClass('bi-pencil-square bi-check2-square');
          
          /// Get row and tds to eddit
          const row = button.parent().parent()
          const edditable_tds = row.children('.row-editable');

          /// Get all of table data cells witch are avaliable to eddit as text
          const edditable_text_tds = row.children('.row-editable:not(:has(>select))');

          /// Get all of table data wuth selects witch are avalibale to choose
          const edditable_select_tds = row.children('.row-editable:has(>select)');
          const edditable_selects    = edditable_select_tds.children('select');

          /// If action is to start an eddit - start an eddit
          if (button_edit_action) {
            edditable_tds.addClass('table-info');
            edditable_text_tds.attr('contenteditable', 'true');
            edditable_selects.removeAttr('disabled');

            /// Replace new button with close button
            const close_button = $('.row-new, .row-close');
            const close_button_ico = close_button.children();
            close_button.removeClass('row-new btn-outline-secondary d-none');
            close_button_ico.removeClass('bi-plus-square');
            close_button.addClass('row-close');
            close_button.addClass('btn-outline-warning');
            close_button_ico.addClass('bi-slash-square');

            /// Remove new element
            $('.elem-new').addClass('d-none');

            /// Disable other eddit buttons
            $('.row-edit').attr('disabled', 'disabled');
          }
          
          /// If action is to save - parse data and make ajax call to an api
          if (button_save_action) {
            edditable_tds.removeClass('table-info');
            edditable_text_tds.attr('contenteditable', 'false');
            edditable_selects.attr('disabled', 'disabled');

            const request_data = {}

            /// Split element`s id and make it nested objects
            /// e.g. element with id settings-my_name-value and text 'value' would be
            /// {settings: {my_name: {value: 'value'}}}
            function set_request_data_from_id(id, set_value) {
              let curr_request_data = request_data
              id.split('-').forEach((value, index, array) => {
                if (index === array.length-1) {
                  curr_request_data[value] = set_value
                  return;
                }
                if (Object.hasOwn(curr_request_data, value) === false) {
                  curr_request_data[value] = {};
                }
                curr_request_data = curr_request_data[value];
              })
            }

            /// Parse text data - make an object from array of elements
            edditable_text_tds.each((index, elem) => {
              const jquery_elem = $(elem);
              const elem_divs = jquery_elem.children('div');
              
              /// Default variant - there is no div elements
              /// that are created via eddit mode
              var text = jquery_elem.text();
              
              /// There are div elements - parce them
              if (elem_divs.length > 0) {
                text = jquery_elem.html()
                                  .trim()
                                  .replace(/<br(\s*)\/*>/ig, '\n')
                                  .replace(/<[p|div]\s/ig,   '\n$0')
                                  .replace(/([^>\s])<\/[p|div]+>/ig,'$1\n')
                                  .replace(/(<([^>]+)>)/ig, '')
                                  .trim();
              }

              set_request_data_from_id(jquery_elem.attr('id'), text);
            });

            /// Parse select data - make an object from array of elements
            edditable_selects.each((index, elem) => {
              const jquery_elem = $(elem);
              set_request_data_from_id(jquery_elem.attr('id'), jquery_elem.val());
            });

            /// Make a save call and reload page
            $.ajax({
              url:  window.location.pathname,
              type: 'POST',
              data: JSON.stringify(request_data),
              contentType: 'application/json',
              headers: {
                Accept:        "application/json",
                Authorization: `Bearer ${keycloak.token}`
              },
              success: () => location.reload(),
              error: () => {
                /// Error - remove eddit classes fro, buttons
                button.removeClass('row-edit');
                button.removeClass('btn-outline-primary');
                button_icon.removeClass('bi-pencil-square');

                /// Error - place save button
                button.addClass('row-save');
                button.addClass('btn-outline-success');
                button_icon.addClass('bi-check2-square');

                /// Error - only close button
                edditable_tds.addClass('table-danger');
                edditable_text_tds.attr('contenteditable', 'true');
                edditable_selects.removeAttr('disabled');
                
                /// Error - show error
                $('#there-was-en-error').removeClass('d-none');
              }
            });
          }
        });
      });
    </script>
    <script>
      /////////
      /// Row append action
      /////////
      $(() => {
        $('.row-new, .row-close').click((elem) => {
          /// Check action - is it create new element or close update
          const button = $(elem.delegateTarget);
          const button_new_action   = button.hasClass('row-new');
          const button_close_action = button.hasClass('row-close');

          /// Close action - reload page
          if (button_close_action) {
            location.reload()
          }
          
          /// Toggle eddit and save statuses
          button.toggleClass('row-new row-close');
          button.toggleClass('btn-outline-secondary btn-outline-warning');
          button.children().toggleClass('bi-plus-square bi-slash-square');

          /// New lement - show it and disable eddit buttons
          if (button_new_action) {
            $('.elem-new').removeClass('d-none');
            $('.row-edit').attr('disabled', 'disabled');
          }
        });
      });
    </script>
  </head>
  <body>
    <div id="content" class="container" style="display: none;">
      <div class="position-absolute top-0 end-0" style="padding-right: 2em; padding-top: 0.5em;">
        <span id="user-name" style="vertical-align: middle;"></span>
        <button class="btn btn-primary btn-sm m-1" id="logout">{{ i18n.logout }}</button>
      </div>
      <h1>{{ title }}</h1>
      <hr>
      <div>
        <a href="{{ uri_prefix }}/status"         class="btn btn-primary mr-1">{{ i18n.bot_status }}</a>
        <a href="{{ uri_prefix }}/users"          class="btn btn-primary mr-1">{{ i18n.users }}</a>
        <a href="{{ uri_prefix }}/fields"         class="btn btn-primary mr-1">{{ i18n.fields }}</a>
        <a href="{{ uri_prefix }}/field_branches" class="btn btn-primary mr-1">{{ i18n.field_branches }}</a>
        <a href="{{ uri_prefix }}/keyboard_keys"  class="btn btn-primary mr-1">{{ i18n.keyboard_keys }}</a>
        <a href="{{ uri_prefix }}/groups"         class="btn btn-primary mr-1">{{ i18n.groups }}</a>
        <a href="{{ uri_prefix }}/settings"       class="btn btn-primary mr-1">{{ i18n.settings }}</a>
        <a href="{{ uri_prefix }}/logs"           class="btn btn-primary mr-1">{{ i18n.logs }}</a>
      </div>
      <hr>
      {% block content %}{% endblock %}
      <div id='there-was-en-error' class="alert alert-danger d-none" role="alert">
        {{ i18n.there_was_en_error }}
      </div>
    </div>
  </body>
</html>
