{% extends "base.j2.html" %}

{% block content %}
  <table id="keyboard_keys-table" class="table table-striped align-middle">
    <thead>
      <tr>
        <th id="keyboard_keys-key"                       >{{ i18n.key }}</th>
        <th id="keyboard_keys-status"                    >{{ i18n.status }}</th>
        <th id="keyboard_keys-news_tag"                  >{{ i18n.news_tag }}</th>
        <th id="keyboard_keys-reply_condition_message_id">{{ i18n.reply_condition_message_id }}</th>
        <th id="keyboard_keys-branch_id"                 >{{ i18n.branch_id }}</th>
        <th id="keyboard_keys-parent_key_id"             >{{ i18n.parent_key_id }}</th>
        <th id="keyboard_keys-new"><button class="row-new btn btn-outline-secondary btn-sm"><i class="bi bi-plus-square"></i></button></th>
      </tr>
    </thead>
    <tbody>
      {% for keyboard_key in keyboard_keys %}
        <tr id="keyboard_keys-{{ keyboard_key.id }}">
          <td id="keyboard_keys-{{ keyboard_key.id }}-key"    class="row-editable">{{ keyboard_key.key }}</td>
          <td id="keyboard_keys-{{ keyboard_key.id }}-status" class="row-editable">
            <select id="keyboard_keys-{{ keyboard_key.id }}-status-value" class="form-select" disabled>
              {% for status in keyboard_key_status_enum %}
                <option
                  value="{{ status.value }}"
                  {% if status == keyboard_key.status %}selected='true'{% endif %}
                >
                  {{ i18n['keyboard_key_' + status.value] }}
                </option>
              {% endfor %}
            </select>
          </td>
          <td id="keyboard_keys-{{ keyboard_key.id }}-news_tag" class="row-editable">{% if keyboard_key.news_tag %}{{ keyboard_key.news_tag }}{% endif %}</td>
          <td id="keyboard_keys-{{ keyboard_key.id }}-reply_condition_message_id" class="row-editable">
            <select id="keyboard_keys-{{ keyboard_key.id }}-reply_condition_message_id-id_value" class="form-select" disabled>
              <option value="None" {% if not keyboard_key.reply_condition_message_id  %}selected='true'{% endif %}>{{ i18n.none }}</option>
                {% for replyable_condition_message in replyable_condition_messages %}
                  <option value="{{ replyable_condition_message.id }}"
                    {% if replyable_condition_message.id == keyboard_key.reply_condition_message_id %}selected='true'{% endif %}
                  >
                    {{ replyable_condition_message.name }}
                  </option>
                {% endfor %}
            </select>
          </td>
          <td id="keyboard_keys-{{ keyboard_key.id }}-branch_id" class="row-editable">
            <select id="keyboard_keys-{{ keyboard_key.id }}-branch_id-id_value" class="form-select" disabled>
              <option value="None" {% if not keyboard_key.branch_id  %}selected='true'{% endif %}>{{ i18n.none }}</option>
                {% for field_branch in field_branches %}
                  {% if field_branch.is_bot_editable %}
                    <option value="{{ field_branch.id }}"
                      {% if field_branch.id == keyboard_key.branch_id %}selected='true'{% endif %}
                    >
                      {{ field_branch.key }}
                    </option>
                  {% endif %}
                {% endfor %}
            </select>
          </td>
          <td id="keyboard_keys-{{ keyboard_key.id }}-parent_key_id" class="row-editable">
            <select id="keyboard_keys-{{ keyboard_key.id }}-parent_key_id-id_value" class="form-select" disabled>
              <option value="None" {% if not keyboard_key.parent_key_id  %}selected='true'{% endif %}>{{ i18n.none }}</option>
                {% for parent_keyboard_key in keyboard_keys %}
                  <option value="{{ parent_keyboard_key.id }}"
                    {% if parent_keyboard_key.id == keyboard_key.parent_key_id %}selected='true'{% endif %}
                  >
                    {{ parent_keyboard_key.key }}
                  </option>
                {% endfor %}
            </select>
          </td>
          <td id="keyboard_keys-{{ keyboard_key.id }}-edit"><button  class="row-edit btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i></button></td>
        </tr>
      {% endfor %}
      <tr id="keyboard_keys-new" class="elem-new d-none">
        <td id="keyboard_keys-new-key"    class="row-editable table-info" contenteditable="true"></td>
        <td id="keyboard_keys-new-status" class="row-editable table-info">
          <select id="keyboard_keys-new-status-value" class="form-select">
            {% for status in keyboard_key_status_enum %}
              <option value="{{ status.value }}">{{ i18n['keyboard_key_' + status.value] }}</option>
            {% endfor %}
          </select>
        </td>
        <td id="keyboard_keys-new-news_tag" class="row-editable table-info" contenteditable="true"></td>
        <td id="keyboard_keys-new-reply_condition_message_id" class="row-editable table-info">
          <select id="keyboard_keys-new-reply_condition_message_id-id_value" class="form-select">
            <option value="None">{{ i18n.none }}</option>
              {% for replyable_condition_message in replyable_condition_messages %}
                <option value="{{ replyable_condition_message.id }}">{{ replyable_condition_message.name }}</option>
              {% endfor %}
          </select>
        </td>
        <td id="keyboard_keys-new-branch_id" class="row-editable table-info">
          <select id="keyboard_keys-new-branch_id-id_value" class="form-select">
            <option value="None">{{ i18n.none }}</option>
              {% for field_branch in field_branches %}
                {% if field_branch.is_bot_editable %}
                  <option value="{{ field_branch.id }}">{{ field_branch.key }}</option>
                {% endif %}
              {% endfor %}
          </select>
        </td>
        <td id="keyboard_keys-new-parent_key_id" class="row-editable table-info">
          <select id="keyboard_keys-new-parent_key_id-id_value" class="form-select">
            <option value="None" selected='true'>{{ i18n.none }}</option>
              {% for parent_keyboard_key in keyboard_keys %}
                <option value="{{ parent_keyboard_key.id }}">
                  {{ parent_keyboard_key.key }}
                </option>
              {% endfor %}
          </select>
        </td>
        <td id="keyboard_keys-new-edit" class="table-info"><button  class="row-save btn btn-outline-success btn-sm"><i class="bi bi-check2-square"></i></button></td>
      </tr>
    </tbody>
  </table>
{% endblock %}
