{% extends "base.j2.html" %}

{% block content %}
  <table id="keyboard_keys-table" class="table table-striped align-middle">
    <thead>
      <tr>
        <th id="keyboard_keys-key"          >{{ i18n.key }}</th>
        <th id="keyboard_keys-status"       >{{ i18n.status }}</th>
        <th id="keyboard_keys-text_markdown">{{ i18n.text_markdown }}</th>
        <th id="keyboard_keys-photo_link"   >{{ i18n.photo_link }}</th>
        <th id="keyboard_keys-branch_id"    >{{ i18n.branch_id }}</th>
        <th id="keyboard_keys-new"><button class="row-new btn btn-outline-secondary btn-sm"><i class="bi bi-plus-square"></i></button></th>
      </tr>
    </thead>
    <tbody>
      {% for keyboard_key in keyboard_keys %}
        <tr id="keyboard_keys-{{ keyboard_key.id }}">
          <td id="keyboard_keys-{{ keyboard_key.id }}-key"    class="row-editable">{{ keyboard_key.key }}</td>
          <td id="keyboard_keys-{{ keyboard_key.id }}-status" class="row-editable">
            <select id="keyboard_keys-{{ keyboard_key.id }}-status-value" class="form-select" disabled>
              {% for status in keyboard_key_status_enum %}
                <option
                  value="{{ status.value }}"
                  {% if status == keyboard_key.status %}selected='true'{% endif %}
                >
                  {{ i18n['keyboard_key_' + status.value] }}
                </option>
              {% endfor %}
            </select>
          </td>
          <td id="keyboard_keys-{{ keyboard_key.id }}-text_markdown" class="row-editable" style="white-space: pre-line">{% if keyboard_key.text_markdown %}{{ keyboard_key.text_markdown }}{% endif %}</td>
          <td id="keyboard_keys-{{ keyboard_key.id }}-photo_link"    class="row-editable">{% if keyboard_key.photo_link %}<a target="_blank" href="{{ keyboard_key.photo_link }}">{{ keyboard_key.photo_link }}</a>{% endif %}</td>
          <td id="keyboard_keys-{{ keyboard_key.id }}-branch_id" class="row-editable">
            <select id="keyboard_keys-{{ keyboard_key.id }}-branch_id-id_value" class="form-select" disabled>
              <option value="None" {% if not  keyboard_key.branch_id  %}selected='true'{% endif %}>{{ i18n.branch_none }}</option>
                {% for field_branch in field_branches %}
                  <option value="{{ field_branch.id }}"
                    {% if field_branch.id == keyboard_key.branch_id %}selected='true'{% endif %}
                  >
                    {{ field_branch.key }}
                  </option>
                {% endfor %}
            </select>
          </td>
          <td id="keyboard_keys-{{ keyboard_key.id }}-edit"><button  class="row-edit btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i></button></td>
        </tr>
      {% endfor %}
      <tr id="keyboard_keys-new" class="elem-new d-none">
        <td id="keyboard_keys-new-key"    class="row-editable table-info" contenteditable="true"></td>
        <td id="keyboard_keys-new-status" class="row-editable table-info">
          <select id="keyboard_keys-new-status-value" class="form-select">
            {% for status in keyboard_key_status_enum %}
              <option value="{{ status.value }}">{{ i18n['keyboard_key_' + status.value] }}</option>
            {% endfor %}
          </select>
        </td>
        <td id="keyboard_keys-new-text_markdown" class="row-editable table-info" contenteditable="true"></td>
        <td id="keyboard_keys-new-photo_link"    class="row-editable table-info" contenteditable="true"></td>
        <td id="keyboard_keys-new-branch_id" class="row-editable">
          <select id="keyboard_keys-new-branch_id-id_value" class="form-select">
            <option value="None">{{ i18n.branch_none }}</option>
              {% for field_branch in field_branches %}
                <option value="{{ field_branch.id }}">{{ field_branch.key }}</option>
              {% endfor %}
          </select>
        </td>
        <td id="keyboard_keys-new-edit"><button  class="row-save btn btn-outline-success btn-sm"><i class="bi bi-check2-square"></i></button></td>
      </tr>
    </tbody>
  </table>
{% endblock %}
