{% extends "base.j2.html" %}

{% block content %}
  <table id="logs-table" class="table table-striped">
    <thead>
      <tr>
        <th>{{ i18n.timestamp }}</th>
        <th>{{ i18n.message }}</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
        <tr id="logs-{{ log.id }}">
          <td id="logs-{{ log.id }}-timestamp">{{ log.timestamp }}</td>
          <td id="logs-{{ log.id }}-message" style="white-space: pre-line">{{ log.message }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
