{% extends "base.j2.html" %}

{% block content %}
  <table id="settings-table" class="table table-striped">
    <thead>
      <tr>
        <th>{{ i18n.key }}</th>
        <th>{{ i18n.description }}</th>
        <th>{{ i18n.value }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for setting in settings %}
        <tr id="settings-{{ setting.key }}">
          <td id="settings-{{ setting.key }}-key">{{ setting.key }}</td>
          <td id="settings-{{ setting.key }}-description"><span style="white-space: pre-line">{{ setting.description }}</span></td>
          <td id="settings-{{ setting.key }}-value" class="row-editable"><span style="white-space: pre-line">{{ setting.value }}</span></td>
          <td id="settings-{{ setting.key }}-edit"><button class="row-edit btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i></button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
