{% extends "base.j2.html" %}

{% block content %}
  <div>
    {% for field_branch in field_branches %}
      <a href="{{ uri_prefix }}/users/branch/{{ field_branch.id }}"
        class="btn mr-1 
        {% if field_branch.id == field_branch_id %}
          btn-secondary
        {% elif field_branch.status.value == 'normal' %}
          btn-primary
        {% elif field_branch.status.value == 'inactive' %}
          btn-danger
        {% endif %}
        "
      >
        {{ field_branch.key }}
    </a>
    {% endfor %}
  </div>
  <table id="users-table" class="table table-striped">
    <thead>
      <tr>
        <th>{{ i18n.chat_id }}</th>
        <th>{{ i18n.username }}</th>
        {% for field in fields %}
          <th id='field-{{ field.id }}'>{{ field.key }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr id="user-{{ user.id }}">
          <td id="user-{{ user.id }}-chat_id">{{ user.chat_id }}</td>
          <td id="user-{{ user.id }}-username">{% if user.username %}{{ user.username }} {% endif %}</td>
          {% for field in fields %}
            <td id='user-{{ user.id }}-field-{{ field.id }}'>
              {% if field.id in user.fields %}
                {% if field.image_bucket %}
                  <img
                    id='user-{{ user.id }}-field-{{ field.id }}-image'
                    class="img-thumbnail"
                    alt="{{ user.fields[field.id].value }}"
                    style="max-height: 200px; max-width: 200px;"
                  />
                {% else %}
                  <span style="white-space: pre-line">{{ user.fields[field.id].value }}</span>
                {% endif %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    function load_users_images() {
      {% for user in users %}
            {% for field in fields %}
                {% if field.id in user.fields and user.fields[field.id].image_bucket %}
                  $(() => {
                    const doc_id = '#user-{{ user.id }}-field-{{ field.id }}-image'
                    console.log(`Start loading image ${doc_id}`);
                    $.ajax({
                      url:  `{{ uri_prefix }}/minio/base64/{{ user.fields[field.id].image_bucket }}/{{ user.fields[field.id].value }}`,
                      type: 'GET',
                      tryCount:   0,
                      retryLimit: 3,
                      headers: {
                        Accept:        "application/json",
                        Authorization: `Bearer ${keycloak.token}`
                      },
                      success: (res) => {
                        $(doc_id).attr('src', `data:${res.mime};base64,${res.image}`);
                      },
                      error : function(xhr, textStatus, errorThrown ) {
                        if (textStatus == 'timeout') {
                            this.tryCount++;
                            if (this.tryCount <= this.retryLimit) {
                                console.log(`Retrying get document ${doc_id}`);
                                setTimeout(() => $.ajax(this), 500);
                                return;
                            }
                            console.log(`Could not retry anymore to get document ${doc_id}`);
                            return;
                        }
                        console.log(`Got ${xhr.status} error for document ${doc_id}`)
                    }
                    });
                  });
                {% endif %}
            {% endfor %}
        {% endfor %}
    }
  </script>

  <script>
    $(() => {
      function waitForKeycloakToken() {
        if (!keycloak.hasOwnProperty('token')) {
          console.log("Does not have token to load images and documents yet")
          return setTimeout(waitForKeycloakToken, 250);
        }
        console.log("Have token to load images and documents!");
        load_users_images();
      }
      waitForKeycloakToken();
    });
  </script>
{% endblock %}
