{% extends "base.j2.html" %}

{% block content %}
  <div>
    {% for field_branch in field_branches %}
      <a href="{{ uri_prefix }}/users/branch/{{ field_branch.id }}"
        class="btn mr-1 
        {% if field_branch.id == curr_field_branch.id %}
          btn-secondary
        {% elif field_branch.status.value == 'normal' %}
          btn-primary
        {% elif field_branch.status.value == 'inactive' %}
          btn-danger
        {% endif %}
        "
      >
        {{ field_branch.key }}
    </a>
    {% endfor %}
  </div>
  <div><br/></div>
  <div>
    <a id="users-download-report"
       class="btn mr-1 btn-success"
       target=""
       href="{{ uri_prefix }}/users/report/xslx"
    >
      {{ i18n.download_users_report }}
    </a>
  </div>
  <table id="users-table" class="table table-hover table-striped">
    <thead>
      <tr>
        <th>{{ i18n.chat_id }}</th>
        <th>{{ i18n.username }}</th>
        <th>{{ user_name_field.key }}</th>
        {% for field in fields %}
          <th id='fields-{{ field.id }}'
            {% if field.status == field_status_enum.PERSONAL_NOTIFICATION %}
              colspan="2"
            {% endif %}
          >
            {{ field.key }}
            {% if curr_field_branch.is_ui_editable %}
              &nbsp;
              <button  class="col-edit btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i></button>
            {% endif %}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr id="users-{{ user.id }}">
          <td id="users-{{ user.id }}-chat_id">{{ user.chat_id }}</td>
          <td id="users-{{ user.id }}-username">{% if user.username %}{{ user.username }} {% endif %}</td>
          <td id="users-{{ user.id }}-user_name_field_plain">{% if user_name_field.id in user.fields and not user.fields[user_name_field.id].empty %}{{ user.fields[user_name_field.id].value }}{% endif %}</td>
          {% for field in fields %}
            {% if field.status == field_status_enum.PERSONAL_NOTIFICATION %}
              <td id='users-{{ user.id }}-fields-{{ field.id }}-personal_notification_status'>
                {% if field.id in user.fields and user.fields[field.id].personal_notification_status %}
                  {{ i18n['personal_notification_' + user.fields[field.id].personal_notification_status.value] }}
                {% else %}
                  {{ i18n.personal_notification_inactive }}
                {% endif %}
              </td>
            {% endif %}
            <td id='users-{{ user.id }}-fields-{{ field.id }}'
              {% if curr_field_branch.is_ui_editable %}
                class='col-editable fields-{{ field.id }}'
              {% endif %}
            >
              {%- if field.type == field_type_enum.BOOLEAN -%}
                <select id="users-{{ user.id }}-fields-{{ field.id }}-value" class="form-select" disabled>
                  <option value="false" {% if field.id not in user.fields or  user.fields[field.id].value == 'false' %}selected='true'{% endif %}>{{ i18n.no  }}</option>
                  <option value="true"  {% if field.id     in user.fields and user.fields[field.id].value == 'true'  %}selected='true'{% endif %}>{{ i18n.yes }}</option>
                </select>
              {%- elif field.type == field_type_enum.FULL_TEXT and field.answer_options -%}
                <select id="users-{{ user.id }}-fields-{{ field.id }}-value" class="form-select" disabled>
                  <option value="" {% if field.id not in user.fields or not user.fields[field.id].value %}selected='true'{% endif %}>Пусто</option>
                  {%- for answer_option in field.answer_options.split() -%}
                    <option value="{{ answer_option }}" {% if field.id in user.fields and user.fields[field.id].value == answer_option %}selected='true'{% endif %}>{{ answer_option }}</option>
                  {%- endfor -%}
                </select>
              {%- elif curr_field_branch.is_ui_editable and field.type == field_type_enum.FULL_TEXT-%}
                <textarea id="users-{{ user.id }}-fields-{{ field.id }}-value" class="form-control" rows="7" cols="20" disabled>
                  {%- if field.id in user.fields -%}{{ user.fields[field.id].value or '' }}{%- endif -%}
                </textarea>
              {%- elif curr_field_branch.is_ui_editable and field.type in [field_type_enum.IMAGE, field_type_enum.ZIP_DOCUMENT, field_type_enum.PDF_DOCUMENT]-%}
                <input type="text" id="users-{{ user.id }}-fields-{{ field.id }}-value" class="form-control" disabled value="{%- if field.id in user.fields -%}{{ user.fields[field.id].value or '' }}{%- endif -%}"/>
              {%- elif field.id in user.fields -%}
                {%- if field.type == field_type_enum.IMAGE and field.bucket -%}
                  <img
                    id='users-{{ user.id }}-fields-{{ field.id }}-image'
                    class="img-thumbnail"
                    alt="{{ user.fields[field.id].value }}"
                    style="max-height: 200px; max-width: 200px;"
                    src="{{ uri_prefix }}/minio/{{ user.fields[field.id].bucket }}/{{ user.fields[field.id].value }}"
                  />
                {%- elif field.type in [field_type_enum.ZIP_DOCUMENT, field_type_enum.PDF_DOCUMENT] and field.bucket -%}
                  <a
                    id='users-{{ user.id }}-fields-{{ field.id }}-document'
                    class="btn btn-sm btn-primary"
                    target="_blank"
                    href="{{ uri_prefix }}/minio/{{ user.fields[field.id].bucket }}/{{ user.fields[field.id].value }}"
                    download
                    >
                    {{ i18n.download_file }} {{ user.fields[field.id].value }}
                  </a>
                {%- else -%}
                  <span style="white-space: pre-line">{{ user.fields[field.id].value }}</span>
                {%- endif -%}
              {%- endif -%}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
